$wasd-background: #FAFAFA;

$hero-gradient-end: #FDCB03;
$hero-gradient-start: #FF9C11;
$hero-gradient-tint: #FF7411;
$hero-text: #E66400;

$where-grad-start: #FDDC03;
$where-grad-end: #FFBC11;
$where-text: $hero-text;

$drop-shadow: #B15F1BC4;

$uwcs-grey: #202429;
$uwcs-greyer: #2F3338;

$dark-purple: #FF7411;
$purple: #FEE404;
$pink: #FDE403;

$body-bg: #FAFAFA;
// $body-bg-dark: $uwcs-grey;
$body-emphasis-color: $hero-text;
$body-emphasis-color-dark: #FAFAFA;

[data-bs-theme=dark] {
    $body-color: #FAFAFA;
}

[data-bs-theme=light] {
    $body-color: rgba(black, 0.9);
}

// $body-secondary-bg-dark: $uwcs-greyer;

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-v26-latin-regular.woff2');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-v26-latin-600.woff2');
    font-weight: 600;
}

$font-family-sans-serif: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$headings-font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$hr-margin-y: 1.5rem;
$border-width: 3px;

$card-border-width: 0;
$card-border-radius: 1rem;

// Same as bootstrap default
$spacer: 1rem !default;
$s0: 0;
$s1: $spacer * .25;
$s2: $spacer * .5;
$s3: $spacer;
$s4: $spacer * 1.5;
$s5: $spacer * 3;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 960px,
    xxl: 960px
);