$wasd-background: #fafafa;

$hero-gradient-end: #3b0051;
$hero-gradient-start: #661e92;
$hero-gradient-tint: #d71eef;
$hero-text: #1c002d;

$where-grad-start: #501e92;
$where-grad-end: #370051;
$where-text: $hero-text;

$drop-shadow: #1F005188;

$uwcs-grey: #202429;
$uwcs-greyer: #2F3338;

$primary: #661e92;
$purple: #661e92;

$body-bg: #fafafa;
$body-bg-dark: $uwcs-grey;

$body-secondary-bg-dark: $uwcs-greyer;

$font-family-sans-serif: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$headings-font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$hr-margin-y: 1.5rem;
$border-width: 3px;

$card-border-width: 0;
$card-border-radius: 1rem;

// Same as bootstrap default
$spacer: 1rem !default;
$s0: 0;
$s1: $spacer * .25;
$s2: $spacer * .5;
$s3: $spacer;
$s4: $spacer * 1.5;
$s5: $spacer * 3;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 960px,
    xxl: 960px
);