{% macro load_md(path) %}
{% set page = get_page(path=path) %}
{% set content = page.content %}

{% for key, value in config.extra %}
    {% if value is string %}
        {% set_global content = content | replace(from="{{ " ~ key ~ " }}", to=value) %}
    {% endif %}
{% endfor %}
{{ content | safe }}
{% endmacro %}

{% macro load_html(path) %}
{% set data = load_data(path=path) %}
{% for key, value in config.extra %}
    {% if value is string %}
        {% set_global data = data | replace(from="{{ " ~ key ~ " }}", to=value) %}
    {% endif %}
{% endfor %}
{{ data | safe }}
{% endmacro %}