{% macro comp(data) %}
    {% for key, value in config.extra %}
        {% if value is string %}
            {% set_global data = data | replace(from="{{ " ~ key ~ " }}", to=value) %}
            {% set_global data = data | replace(from="{{ e." ~ key ~ " }}", to=value) %}
            {% set_global data = data | replace(from="{{ config.extra." ~ key ~ " }}", to=value) %}
        {% endif %}
    {% endfor %}
    {{ data | safe }}
{% endmacro %}

{% macro get_content(path) %}
    {% if path is matching("\.md$") %}
        {% set page = get_page(path=path) %}
        {{ page.content | safe}}
    {% else %}
        {{ load_data(path=path) | safe }}
    {% endif %}
{% endmacro %}