.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  
  & .timestamp {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
  }
  
  // Kinda cursed, default state is happened, js sets a complete elem, as a threshold
  // Set all to right as normal (how general sibling combinator works)
  & .status {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
    padding: 20px;
    min-width: max-content;
    border-top: 4px solid $hero-gradient-tint;
  }

  & .status:before {    // Diamond
    content: "";
    width: 25px;
    height: 25px;
    rotate: 45deg;
    border: 4px solid #ddd;
    position: absolute;
    top: -15px;
    left: calc(50% - 12.5px);
    transition: all 200ms ease-in;
    background-color: $hero-gradient-tint;
    border: none;
  }
  
  & .tl-elem.complete {
    & .status {
        border-top: 4px solid;
        border-image: linear-gradient(to right, $hero-gradient-tint 50%, #D6DCE0 50%) 100% 1;
    }

    & .status:before {
        background-color: $hero-gradient-tint;
        border: none;
    }
  }

  & .tl-elem.complete ~ .tl-elem {
    & .status {
        border-top: 4px solid #D6DCE0;
    }

    & .status:before {
        background-color: white;
        border: 4px solid #ddd;
        transition: all 200ms ease-in;
    }
  }
}
  
@media (max-device-width: 960px) {
    .timeline {
        list-style-type: none;
        display: block;

        & .timestamp {
            width: 100px;
            align-items: end;
            margin-right: 30px;
        }

        & .tl-elem {
            transition: all 200ms ease-in;
            width: inherit;
            display: flex;
            flex-direction: row;
        }
        
        .tl-elem .status {
            border-top: 0;
            border-left: 4px solid $hero-gradient-tint;
            padding-left: 30px;
        }

        .tl-elem.complete .status {
            border-top: 0;
            border-left: 4px solid;
            border-image: none;
            border-image: linear-gradient(to bottom, $hero-gradient-tint 50%, #D6DCE0 50%) 1 100%;
        }

        & .tl-elem.complete ~ .tl-elem .status {
            border-top: 0;
            border-left: 4px solid #D6DCE0;
        }

        & .status:before {
            left: -14.5px;
            top: calc(50% - 12.5px);
            transition: all 200ms ease-in;
            z-index: 5;
        }
    }
}