<footer class="footer">
    <svg id="footer-wave" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 97">
        <path fill="var(--bs-body-bg, #FAFAFA)" fill-rule="evenodd"
            d="M1440.3432403 0H.343244l-.34324 16.74966c217.4358 50.48641 406.47299 77.16389 567.111578 80.03244 240.957881 4.30282 367.332301-78.67584 534.410157-86.05639 111.385237-4.92036 224.466019 3.39842 339.242345 24.95636L1440.3432403 0z" />
    </svg>

    <div class="section">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-4 text-center text-md-start">
                    <h3 class="socials-title is-size-4 title">Socials</h3>
                        <ul class="socials ps-0">
                            <li><a target="_blank" href="https://warwickspeed.run/discord" aria-label="WASD Discord"><i class="fab fa-discord"></i></a></li>
                            <li><a target="_blank" href="https://warwickspeed.run/bluesky" aria-label="WASD Bluesky"><i class="fab fa-bluesky"></i></a></li>
                            <li><a target="_blank" href="https://warwickspeed.run/twitch" aria-label="WASD Twitch"><i class="fab fa-twitch"></i></a></li>
                            <li><a target="_blank" href="https://warwickspeed.run/vods" aria-label="WASD VODs"><i
                                class="fab fa-youtube"></i></a></li>
                        </ul>
                </div>
                <div class="col-lg-8">
                    <div id="copyright" class="content text-center">
                        <p>Copyright &copy; <a target="_blank" href="https://uwcs.co.uk">University of Warwick Computing
                            Society</a>.<br>Originally built by <a target="_blank" href="https://github.com/davidjrichardson">David
                            Richardson</a>; Currently maintained by <a target="_blank" href="{{ e.website_point_link }}">{{ e.website_point_of_contact }}</a>; Hosted by <a target="_blank" href="https://github.com/uwcs">UWCS Tech Team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>