<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-menu">
        <a class="navbar-item" target="_blank" href="https://warwickspeed.run/vods">VODs</a>
        <a class="navbar-item" target="_blank" href="https://warwickspeed.run/discord"><i class="fab fa-discord"></i>
          Discord</a>
        <a class="navbar-item" target="_blank" href="https://warwickspeed.run/twitch"><i class="fab fa-twitch"></i>
          Twitch</a>
      </div>
    </div>
  </nav>