<h4 class="title is-size-4">Timeline</h4>
<div id="timeline-div">
    <ul class="timeline" id="timeline">
        <li class="tl-elem phase-sub complete">
            <div class="timestamp">Now</div>
            <div class="status">Submissions Open</div>
        </li>
        <li class="tl-elem phase-sub-closed">
            <div class="timestamp">{{ e.subs_close_date }}</div>
            <div class="status">Submissions Close</div>
        </li>
        {# <li class="tl-elem">
            <div class="timestamp">~#th Jan</div>
            <div class="status">Runs Accepted</div>
        </li> #}
        <li class="tl-elem phase-schedule phase-before">
            <div class="timestamp">{{ e.schedule_release_date }}</div>
            <div class="status">Schedule Released</div>
        </li>
        <li class="tl-elem phase-during phase-ended">
            <div class="timestamp">{{ e.event_date_range }}</div>
            <div class="status">WASD!</div>
        </li>
    </ul>
</div>