
<h4 class="title is-size-4">Timeline</h4>
<div id="timeline-div">
  <ul class="timeline" id="timeline">
    <li class="tl-elem phase-sub complete">
      <div class="timestamp">Now</div>
      <div class="status">Submissions Open</div>
    </li>
    <li class="tl-elem phase-sub-closed">
      <div class="timestamp">8th Jan</div>
      <div class="status">Submissions Close</div>
    </li>
    <li class="tl-elem">
      <div class="timestamp">~12th Jan</div>
      <div class="status">Runs Accepted</div>
    </li>
    <li class="tl-elem phase-schedule phase-before">
      <div class="timestamp">~15th Jan</div>
      <div class="status">Schedule Released</div>
    </li>
    <li class="tl-elem phase-during phase-ended">
      <div class="timestamp">3-4th Feb</div>
      <div class="status">WASD!</div>
    </li>
  </ul>
</div>

<p>
<strong>Submissions Open:</strong> Our <a target="_blank" href="https://warwickspeed.run/signup">Oengus page</a> is open to your signups! See our <a href="https://warwickspeed.run/howto">How To</a> section for tips & advice!<br>
<strong>Submissions Close:</strong> Oengus submissions are closed, so we can decide on ....<br>
<strong>Runs Accepted:</strong> Announcing which runs will make up our schedule<br>
<strong>Schedule Announced:</strong> The schedule will be released on all our socials, etc.<br>
<strong>WASD:</strong> The weekend of the event. Can't wait to meet you all!
</p>
