:root {
  --stopwatch-rotation: 0deg;
}

#about {
  position: relative;
  // z-index: 20;

  & #stopwatch-column {

    & path#stopwatch-hand {
      transform: rotate(var(--stopwatch-rotation));
      transform-origin: 234.5px 161px;
    }

    & svg {
      width: 300px;
      // max-width: 30%;
    }

    & svg .primary-fill {
      fill: $purple;
    }

    & svg .primary-stroke {
      stroke: $purple;
    }

    & svg .secondary-stroke {
      stroke: $dark-purple
    }

    & svg .tertiary-stroke {
      stroke: $pink
    }

    & svg .background-fill {
      fill: var(--bs-body-bg);
    }

    & svg .body-stroke {
      stroke: var(--bs-body-color)
    }
  }

  // Partner Logos

  & .logo-level {
    margin-top: 40px;

    & h4 {
      text-align: center;
      margin-bottom: 20px;
      color: var(--bs-body-color);
    }

    // Logo row
    & .logos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 10px;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: start;
        gap: 0;
      }

      // Logo
      & a {
        max-height: 160px;
        min-width: 25%;

        display: flex;
        justify-content: center;

        & svg,
        & img {
          max-height: inherit;
          height: 100px;
          width: auto;

          & path {
            fill: var(--bs-body-color);
          }
        }
      }
    }
  }
}