// Blue region dividers
.blue {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 0 $s3;
    margin-top: 60px;
    margin-bottom: 60px;

    background-color: $blue;
    color: white;
}

.blue > * {
    z-index: 5;
}

.blue::before,
.blue::after {
    width: 100%;
    position: absolute;
    z-index: 1;
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 1920 207' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1920 104C1612.32 35.8892 1287.57 0.958609 960 0.958618C632.431 0.958627 307.677 35.8892 0 104V207H1920V104Z' fill='%233A7DFF'/%3E%3C/svg%3E");
}

.blue::before {
    bottom: 100%;
    transform: translateY(50%);
}

.blue::after {
    top: 100%;
    transform: scaleY(-1) translateY(50%);
}

@include media-breakpoint-down(sm) {
    .blue h5 {
        font-size: 1em;
    }
}

.blue-top {
    @extend .blue;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.blue-top::after {
    content: "" !important;
}