@include media-breakpoint-down(sm) {
    .event-mobile {
        font-size: 0.6em;
    }

    .day-clamp {
        overflow: hidden;
        height: 1em;
    }
}

$circle-width: 11em;
$circle-pad: 1em;
$circle-gap: 1em;

$dist-circles: $circle-pad + $circle-gap + $circle-pad;

@function day-width($num) {
    @return $circle-pad +($num * $circle-width)+(max(0, $num - 1) * $dist-circles)+$circle-pad;
}

#events-block,
.weeks {
    display: flex;
    flex-direction: column;
}

#events-block.reverse,
.weeks.reverse {
    flex-direction: column-reverse;
}

.event-circle {
    @extend .text-center;
    width: $circle-width;
    font-family: "Montserrat";
    color: white;
    aspect-ratio: 1 / 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    line-height: 110%;

    & .event-icon {
        font-size: calc($circle-width / (11 / 4));
    }

    & .event-title {
        @extend .fw-semibold, .two-line-clamp;
        font-size: calc($circle-width / 10);
        margin: calc($circle-pad * 0.4) $circle-pad calc($circle-pad / 4)
    }

    & .event-extras {
        @extend .fw-medium, .three-line-clamp;
        font-size: calc($circle-width / 11);
        margin: 0 calc($circle-pad * 2);
    }
}

.event-hover {
    transition: transform 0.2s ease-in-out;
}

.event-hover:hover {
    transform: scale(1.1);
}

.card-hover {
    transition: transform 0.2s ease-in-out;
}

.card-hover:hover {
    transform: scale(1.05);
}

.week {
    container-type: inline-size;
}

.day {
    gap: $dist-circles;
    row-gap: $dist-circles + 2 * $circle-pad;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.event-outer {
    display: flex;
    flex-direction: column;
    padding: $circle-pad;
    justify-content: space-between;
}

.events {
    --ecols: 3;
    display: grid;
    gap: $circle-gap;
    grid-template-columns: repeat(var(--ecols), day-width(1));
}

// Day with two elements
.event-outer[data-event-count="2"] {
    grid-column: span 2;
    grid-row: span 1;
}

// Day with three elements
.event-outer[data-event-count="3"] {
    grid-column: span 3;
    grid-row: span 1;
}

// Day with four elements
.event-outer[data-event-count="4"] {
    grid-column: span 2;
    grid-row: span 2;
}

// Good luck after four in a day

@container (width >=#{day-width(3)}) {
    .day-3-1x2 {
        grid-column: span 1 !important;
        grid-row: span 2 !important;
    }

    .day-3-1x3 {
        grid-column: span 1 !important;
        grid-row: span 3 !important;
    }

    .day-3-2x2 {
        grid-column: span 2 !important;
        grid-row: span 2 !important;
    }

    .day-3-2x3 {
        grid-column: span 2 !important;
        grid-row: span 3 !important;
    }
}

@container (#{day-width(2)} <=width < #{day-width(3)}) {
    .events {
        --ecols: 2;
    }

    .event-outer[data-event-count="3"] {
        grid-column: span 1 !important;
        grid-row: span 3 !important;
    }

    .day-2-1x2 {
        grid-column: span 1 !important;
        grid-row: span 2 !important;
    }

    .day-2-2x2 {
        grid-column: span 2 !important;
        grid-row: span 2 !important;
    }
}

@container (width < #{day-width(2)}) {
    .events {
        --ecols: 1;
    }

    .event-outer {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
    }

    .day {
        row-gap: 2 * $circle-pad !important;
    }
}