.event-wrapper {
  background-image: url('/images/top-bg.png'), linear-gradient(5deg, $hero-gradient-end 5%, $hero-gradient-start 70%);
  background-size: cover;
  background-position: center;

  position: relative;

  & h1,
  & hr {
    color: var(--bs-text-light);
  }

  & .backing {
    border-radius: 40px;
    padding: 20px;
  }

  & .content {

    & p,
    & h4,
    & li {
      color: var(--bs-body-color, $hero-text);
    }

    & h4:not(:first-child) {
      margin-top: 1.2em;
    }

    & iframe {
      margin-top: 1.2em;
      border-radius: 1em;
      width: 100%;
      height: 400px;

      // box-shadow: 0 3px 6px rgba(darken($where-grad-end, 15%), 0.3);
    }

    & img {
      border-radius: 1em;

      box-shadow: 0 2px 4px rgba(black, 0.2);
      width: calc(100% - 4em);
      margin-left: 2em;
      margin-right: 2em;
      margin-bottom: 1em;
    }
  }

  & #event-bottom-mask,
  & #event-top-mask {
    position: relative;
    // z-index: 10;
    width: 100%;
    height: 150px;
    max-height: 10vw;
  }

  & #event-bottom-mask {
    margin-bottom: -7px;
  }


  & #event {
    min-height: 500px;
    position: relative;

    & hr {
      background-color: var(--bs-emphasis-color, $hero-text);
      opacity: 1;
      margin-bottom: 2em;
    }

    & .columns {
      align-items: stretch;

      & .content {
        height: 100%;
      }
    }
  }

}