@include media-breakpoint-down(sm) {
    .exec-table thead {
        display: none;
    }

    .exec-table tr>* {
        display: block;
        border-color: var(--bs-table-border-color);
    }

    .exec-table tr {
        display: block;
        border-bottom: none;
        margin-top: 4vh;
    }

    .exec-table tr>*:first-of-type {
        border-top-width: var(--bs-border-width);
    }

    .exec-table tr:first-of-type {
        margin-top: 0;
    }
}