#signupBottom {
  margin-top: 2em;
}

.has-text-centered {
  text-align: center;
}

footer.footer {
  background-color: $where-grad-end;
  color: rgba(black, 0.85);

  & #copyright {
    & p {
      color: rgba(black, 0.9);
    }
  }

  & #footer-wave {
    width: 100%;
    height: 150px;
    max-height: 6vw;
  }

  & svg {
    min-width: auto;
  }

  & .columns {
    align-items: flex-end;
  }

  & .socials-title {
    color: rgba(black, 0.9);

    margin-bottom: 0.4em;
  }

  & .content {
    & a {
      text-decoration: underline;

      color: rgba(black, 0.85);

      &:hover,
      &:focus {
        color: black;
      }
    }
  }

  & .socials {
    & li {
      display: inline-block;

      & a {
        font-size: 36px;
        color: rgba(black, 0.7);

        margin-right: 1rem;

        transition: color 0.1s ease-in-out;

        &:hover,
        &:focus {
          color: rgba(rgb(0, 0, 0), 0.9);
        }
      }
    }
  }
}
