h1,
h2,
#info strong {
    font-weight: $font-weight-semibold;
}

blockquote,
pre {
    @extend .bg-body-tertiary;
    margin: 0 0 $s2 $s3;
    padding: $s2 $s2 $s2 $s3;

    border-left: $border-style;
}

code {
    @extend .text-body;
}

p:last-child {
    margin-bottom: 0px;
}

table {
    @extend .table;
}

.alert a {
    @extend .alert-link;
}

#main {
    @extend .container-lg, .flex-md-row;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;
    gap: $s3;
    padding: 0;
}

#nav {
    @extend .bg-body, .sticky-top;
    width: 100%;
    border-bottom: solid $blue $border-width;
    max-height: 100vh;
}

.navbar-nav {
    max-height: 100vh;
}

@include media-breakpoint-down(lg) {
    .navbar-nav {
        overflow: scroll;
    }
}

#foot {
    @extend .container-lg, .bg-body;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
    gap: $s2;
    padding: $s3 0;

    border-top: $border-width;
}

.frame-content {
    @extend .bg-body;
    padding: $s4;
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    gap: $s3;
    padding: $s3;
}

#content>p>img,
#content>p>svg {
    max-width: 100%;
}

#sidebar {

    & h1,
    & h2,
    & h3 {
        text-align: center;
    }
}

body {
    background-image: url("assets/bg-particles.png") !important;
    background-repeat: repeat;
    background-position: center top;
    background-size: 50vmax;
    z-index: 1;
}