// Allows flexbox elements to be hidden
[hidden] {
  display: none;
}

#main {
  flex-grow: 1;
}

section strong,
section a {
  color: var(--bs-emphasis-color, $hero-text);
}

/**
@include media-breakpoint-up(md) {
  .section {
    padding: 3rem 3rem;
  }
}
**/  

section a:not(:has(i, img, svg, div)) {
  text-decoration: underline;

  &:hover,
  &:focus {
    filter: contrast(50%);
  }
}

.backing {
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  padding: 15px 25px;
  border-radius: 60px;
  box-shadow: -5px 5px 0 $drop-shadow;
  font-weight: 500;
}

.wave {
  width: 100%;
  height: 100%;
  max-height: 10vw;

  & path.wave-mask {
    fill: var(--bs-body-bg);
  }

  & path.wave-tint {
    fill: $hero-gradient-tint;
    opacity: 0.43;
  }
}

// Button formatting
.button,
.nav-link {
  padding: 10px 20px;
  margin-bottom: 5px;

  background-color: var(--bs-body-bg);
  color: var(--bs-emphasis-color);

  border-radius: 50px;
  box-shadow: -5px 5px 0 $drop-shadow;
  font-weight: 500;

  text-decoration: none;
  transition: top 0.1s ease-in-out, box-shadow 0.1s ease-in-out,
    background-color 0.2s ease-in-out;

  position: relative;
  top: 0px;

  &:hover,
  &:focus {
    filter: contrast(50%);
    box-shadow: -5px 8px 0 $drop-shadow;
    top: -3px;
  }

  &#dark-mode {
    padding-top: 7px;
    padding-bottom: 1px;
  }
}

html {
  scroll-behavior: smooth;
}

/**
p {
  color: var(--bs-body-color);
}
**/

h1,
h2,
h3,
h4 {
  //color: var(--bs-body-color);
  line-height: 150%;
  font-weight: 600;
  margin-bottom: $s2;
  margin-top: $s3;
}

hr {
  opacity: .6;
  border-top-width: 5px !important;
  margin-bottom: 2em;
  border-color: var(--bs-body-color);
  //border-color: rgba(white, 0.8);
}

img,
svg {
  max-width: 100%;
}

.row {
  --bs-gutter-y: 1.5rem;
}

#timeline-container h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

/**
#about {
  & hr.title-divider {
    border-color: rgba(white, 0.8) !important;
  }
}
**/