// Icons
.icon {
    display: inline-flex;
    min-width: 1em;
    position: relative;
    box-sizing: content-box;
}

.icon svg,
.icon img,
.icon i {
    height: 1em;
    width: 1em;
    box-sizing: content-box;
    fill: currentColor;
}

.icon.baseline svg,
.icon.baseline img,
.icon.baseline i {
    position: absolute;
    bottom: -0.25em;
}